<div class="container">
  <%= simple_form_for [ @list, @bookmark ] do |f| %>
    <%= f.association :movie, collection: Movie.all %>
    <%= f.input :comment %>
    <%= f.button :submit %>
  <% end %>
</div>
